<div class="container">
    <p class="title">chat<strong>N</strong>run</p>
    <hr />
    <p class="picktags">
        <strong>#</strong>Pick some tags
        <a href=”/writing/poems.html” target=”_blank”>
            <img class="search" ; src="http://static.squarespace.com/static/528e87f3e4b0ef5d1e49355e/t/5374ab4fe4b060b2a3d1a69c/1400154961532/search-icon-01.jpg">
        </a>
        <input class="nickname right" placeholder="search" />
    </p>
    <a href=”/writing/poems.html” target=”_blank”>
        {{#each tags}}
            <button class="picktags left margin">{{ tagname }}</button>
        {{/each}}
    </a>
    <p class="nickname right">
        <a href=”/Users/Guest/Desktop/index-2.html” target=”_blank”>
            <img class="arrow" ; src="http://www.pngmart.com/files/3/Right-Arrow-PNG-Transparent.png">
        </a>
    </p>
</div>
